{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}Список користувачів{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Список користувачів</h2>
    <ul class="list-group mt-4">
        {% for user in users %}
            <li class="list-group-item">
                <a href="{% url 'user_profile' user.id %}">{{ user.username }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}" class="btn btn-secondary mt-4">Повернутись на головну</a>
</div>
{% endblock %}
