{% extends 'main/base.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
<div class="jumbotron text-center mt-4">
    <h1 class="display-4">Про нас</h1>
    <p class="lead">Наша компанія була заснована у 2010 році з метою надання якісних послуг у сфері консалтингу та розробки програмного забезпечення. За ці роки ми виросли в лідера ринку, завдяки нашому професіоналізму та інноваційним підходам.</p>
    <p class="lead">Наша місія - допомагати компаніям різного розміру ефективно використовувати сучасні технології, забезпечуючи зростання та підвищення конкурентоспроможності.</p>
    <p class="lead">Ми цінуємо:
        <ul>
            <li><strong>Якість:</strong> Ми завжди прагнемо надавати найкращі рішення нашим клієнтам.</li>
            <li><strong>Інновації:</strong> Використання новітніх технологій - наш ключ до успіху.</li>
            <li><strong>Партнерство:</strong> Ми будуємо довготривалі відносини з нашими клієнтами, засновані на взаємодовірі та підтримці.</li>
        </ul>
    </p>

    <p class="lead">Останнє оновлення: {{ last_updated|date:"d.m.Y" }}</p>
    <p>{{ company_description|safe }}</p>
</div>
{% endblock %}
