{% extends 'custom_app/base.html' %}

{% block title %}Редагування профілю{% endblock title %}

{% block content %}
<h1>Редагування профілю</h1>

<!-- Блок для відображення повідомлень -->
{% if messages %}
<div>
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

<!-- Форма редагування профілю -->
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Зберегти</button>
</form>
{% endblock content %}
