# Ігноруємо всі файли кешу Python
__pycache__/
*.py[cod]

# Ігноруємо середовище розробки (наприклад, venv)
venv/
.env

# Ігноруємо файли налаштувань PyCharm
.idea/

# Інші тимчасові файли
*.log
*.tmp
